streamlit
streamlit-pandas-profiling
scikit-learn
spacy
numpy
numba
missingno
tpot
pandas
wheel
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0-py3-none-any.whl#egg=en_core_web_md==3.0.0
